{%load static%}

{%block header%}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acar</title>

    <link rel="stylesheet" href="{%static 'css/style.css'%}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>

    <header>

        <div class="container">

            <div class="logo">
                <h2>Acar</h2>
            </div>

            <nav>

                <ul>
                    <li><a href="#home">Ana səhifə</a></li>

                    <li><a href="#services">Xidmətlər</a></li>

                    <li><a href="#contact">Əlaqə</a></li>

                </ul>

            </nav>

            <div class="header-buttons">

                <a href="tel:+994557964011" class="phone">
                    <i class="fa-solid fa-phone"></i>
                    +994 55 796 40 11
                </a>

                <a href="https://wa.me/994557964011" target="_blank" class="whatsapp">

                    <i class="fa-brands fa-whatsapp"></i>

                    WhatsApp

                </a>

            </div>

        </div>

    </header>

    {%endblock%}

    {%block content%}
    {%endblock%}


    {%block footer%}
    <footer>

        <div class="container footer-content">

            <div class="footer-about">

                <h3>Acar</h3>

                <p>
                    Fərdi müştərilər və biznes üçün
                    keyfiyyətli avtomobil açarı xidmətləri.
                </p>

            </div>


            <div class="footer-links">

                <h3>Naviqasiya</h3>

                <ul>

                    <li>
                        <a href="#home">Ana səhifə</a>
                    </li>

                    <li>
                        <a href="#services">Xidmətlər</a>
                    </li>

                    <li>
                        <a href="#contact">Əlaqə</a>
                    </li>

                </ul>

            </div>


            <div class="footer-social">

                <h3>Bizi sosial şəbəkələrdə izləyin</h3>

                <div class="social-icons">

                    <a href="https://www.instagram.com/acar_temiri_0557964011?igsh=MW1kM2Izc3gxZ3F0dg=="
                        aria-label="Instagram">
                        <i class="fab fa-instagram"></i>
                    </a>


                    <a href="https://wa.me/994557964011" aria-label="WhatsApp">
                        <i class="fab fa-whatsapp"></i>
                    </a>


                </div>

            </div>

        </div>


        <div class="copyright">

            © 2026 Bütün hüquqlar qorunur.

        </div>

    </footer>


    <script src="{% static 'script.js' %}"></script>

    {% endblock %}